.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  color: white;
  flex-wrap: wrap;
}

.left, .middle, .right {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.company-name {
  font-size: 1.5em;
  font-family: 'DM Serif Text', sans-serif;
}

.highlight {
  color: #ffffff;
  font-size: 1.5em; 
  font-family: 'Mystery Quest';
}

.middle {
  flex-grow: 1;
  justify-content: center;
}

.middle a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.right .button {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .middle, .right {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .middle.open, .right.open {
    display: flex;
  }

  .middle a, .right .button {
    margin: 10px 0;
  }
}